body {
    background-image: url(images/space.jpg);
    background-position: top;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    display: block;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    white-space: pre-line;
    background: radial-gradient(#004e92, #000428);
    border: 5px solid #000428;
    box-shadow: 4px 5px 10px #000428;
    color: white;
    font-size: 16px;
    font-family: 'Gabriela', serif;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    letter-spacing: 1px;
    word-spacing: 1px;
    tab-size: 8;
    resize: none;
}

.keyboard {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 715px;
    height: 250px;
    align-content: space-between;
    background: radial-gradient(#004e92, #000428);
    flex-wrap: wrap;
    padding: 5px;
    border: 5px solid #000428;
    box-shadow: 4px 5px 10px #000428;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Gabriela', serif;
    color: white;
}

.keyboard::after {
    content: 'Для переключения языка комбинация: Сtrl + Alt \0a Клавиатура создана в операционной системе Windows \0a Если у вас OS: Mac и что-то не работает или работает некорректно, свяжитесь со мной пожалуйста, или оставьте свои контакты)';
    position: absolute;
    top: 604px;
    text-shadow: 0px 0px 10px #000428;
    white-space: pre;
}

.keyboard__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid white;
    padding: 0;
    margin: 0px 0px 0px 6px;
    border-radius: 3px;
    box-shadow: 0 0 3px white;
    transition: 0.3s;
    cursor: pointer;
}

.key-pressed {
    background-color: white;
    color: #004e92;
    border-radius: 30px;
}

.key:hover {
    background-color: white;
    color: #004e92;
}

.key:first-child {
    margin-left: 0px;
}

/*************************Special keys********************/

.which-8 {
    width: 98px;
}

.which-9 {
    width: 48px;
}

.which-46 {
    width: 42px;
}

.which-20 {
    width: 98px;
}

.which-13 {
    width: 84px;
}

.which-16.left {
    width: 98px;
}

.which-16.right {
    width: 84px;
}

.which-32 {
    width: 330px;
}
